html,
body {
    font-family: poppins;
    background-color: #edede9;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 640px) {
    main {
        max-width: none;
    }
}

h1 {
    color: #415a77;
    text-decoration: underline;
    font-size: 3em;
    font-weight: 600;
}

ul {
    text-decoration: none;
    list-style-type: none;
    color: #ff3e00;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    font-weight: 100;
    height: 100%;
    row-gap: 40px;
}

li {
    padding-top: 20px;
    padding-bottom: 20px;
}

a,
p {
    color: #023047;
    font-weight: 600;
    text-decoration: none;
    font-size: 35px;
    text-decoration: underline;
    text-decoration-color: #ff3e00;
}

button {
    padding: 15px 30px 15px 30px;
    background-color: #415a77;
    color: #edede9;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 24px;
    cursor: pointer;
}
span{
    font-weight: 600;
    font-size: 1.5rem;
}
.file-input {
    padding: 10px 10px 10px 10px;
    background-color: #edede9;
    font-size: 1rem;
    margin: 0 10px 0 10px;
}
.file-button{
    border-radius: 5px;
    padding: 10px 13px 10px !important; 
}
.file-object{
    border-radius: 20px;
    padding: 2px 60px 2px;
    background: #8d99ae;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

.file-object p{
    text-decoration: none;
    font-size: 25px;
    padding-right: 10px;
    margin-right: 20px;
}

.update-button{
    margin-top: 20px;
}